@import url(https://fonts.googleapis.com/css?family=Muli&display=swap);

$theme-font: 'Muli', sans-serif;
$main-color: #ffffff;

$primary-color: #FFE600;
$gray-strong: #333333;
$gray-medium: #666666;
$gray-light: #999999;
$gray-lightest: #eeeeee;