@import '../Vars.scss';

.info-section {
	width: 100%;
}

.info-section__title {
	font-size: 28px;
	margin-bottom: 32px;
}

.info-section__text {
	font-size: 16px;
	margin: 0;
	color: $gray-medium;
}

.info-section__preformated {
	white-space: pre-wrap;
}